@font-face {
    font-family: "Magic";
    src: url("../font/ParryHotter.ttf") format('truetype');
}

body {
  font: 26px "Magic", Helvetica, Arial, sans-serif;
  background-color: rgb(245, 245, 240)
}

div {
    font-family: "Magic", Helvetica, Arial, sans-serif;
    text-align: center;
    border-radius: 15px;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: rgb(224, 224, 209);
    cursor: pointer;
}

img {
    margin-top: 50px;
}

.font {
    margin-top: -15px;
}
